body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.text-center {
    text-align: center;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-70 {
    margin-bottom: 70px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: #575757;
}

p {
    color: #828282;
}

img {
    width: 100%;
}

section {
    padding: 70px 70px 0;
}

.orange-color {
    color: #FB8B47;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}


.linked-button {
    background-image: linear-gradient(to left, #eb2ab0, #ef6fc4);
    color: #ffffff;
    box-shadow: 0 4px 8px 0 #ef6fc4, 0 6px 20px 0 #ef6fc4;
    padding: 13px 40px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 25px;
}

.order-food-lady {
    margin-top: -50px;
    width: 48%;
}

.eat-healthy-food-bg {
    background-image: url(../images/shapes/frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.eat-healthy-food {
    margin-right: 10%;
}

.eat-healthy-food img {
    width: 71%;
    margin-left: 20%;
}

.about-me-info {
    width: 35%;
}

.about-me-info h2 {
    color: #707070;
}

.about-me-info p {
    margin-bottom: 50px;
}

.recipies {
    width: 50%;
    margin: 0 auto 25px;
}

.recipies h2 {
    margin-top: 0;
}

.single-recipie {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    padding: 30px;
    border-radius: 25px;
}

.single-recipie h3 {
    color: #000000;
    font-weight: bold;
}

.no-margin {
    margin-right: 0;
}

.social-media {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    border-radius: 25px;
    padding: 25px;
}

.social-media h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.single-media {
    text-align: center;
}

.footer-info {
    text-align: center;
    background-color: #0B0D17;
    padding: 20px 0 60px;
    margin-top: 70px;
}

.footer-info p {
    font-size: 14px;
}